.loader{
    font-size: 1rem;
    line-height: 1;

    color: var(--smoky_white_color);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 50%);

    box-sizing: border-box;

    padding: 2rem;
}