.textField {
	resize: none;
	outline: none;

	border: none;
	background-color: transparent;

	color: var(--base_color);

	font-size: 1rem;
	line-height: 1;
	font-weight: 500;

	padding: 0;

	height: 100%;
	width: 100%;

	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;
}